{% extends 'dashboard_base.html' %}
{% load staticfiles %}

{% block title %} {{ template_title }} {% endblock title %}

{% block extra_styles %}
    <link href="{% static 'styles/form.css' %}" rel="stylesheet">
{% endblock extra_styles %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">{{ template_title }}</h1>
<p class="mb-4">A partir de um conteúdo é possivel criar atividades sensíveis ao contexto.</p>
<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4 border-left-primary">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                {% include 'form_field.html' with field=form.title label=form.title.label %}
                </div>
                <div class="form-group">
                    {% include 'form_field.html' with field=form.description label=form.description.label %}
                </div>
                <div class="col-xl-2 float-right">
                    <button class="btn btn-primary btn-user btn-block" type="submit">Salvar</button>
                </div>
                <div class="col-xl-2 float-right">
                    <a href="{% url 'content:list-content' %}" class="btn btn-secondary btn-user btn-block">
                        Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}