{% extends 'dashboard_base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {% if perms.accounts.is_admin  %}
    Estudantes
  {% elif perms.accounts.is_teacher %}
    Turma {{ class.name }}
  {% endif %}

{% endblock title %}
{% block extra_styles %}
    <link href="{% static 'styles/list.css' %}" rel="stylesheet">
{% endblock extra_styles %}


{% block content %}
    {% with header="Lista de estudantes vinculados a turma" %}
      {% if perms.accounts.is_admin or perms.accounts.has_no_institution %}
        <h1 class="h1 mb-2 text-gray-800">Estudantes</h1>
        <p class="mb-4">List de estudantes da turma {{ class.name }}.<br>
          <a href="{% url 'accounts:create-student' class=class.id %}">
            <i class="fas fa-plus-circle"></i>
            Clique aqui para adicionar
          </a><br>

          {% if perms.accounts.has_no_institution %}
            <a href="{% url 'accounts:teacher-classes' %}">
              <i class="fas fa-arrow-circle-left"></i>
              Voltar a listagem de turmas
            </a>
          {% else %}
            <a href="{% url 'accounts:list-class' program=class.program.id %}">
              <i class="fas fa-arrow-circle-left"></i>
              Voltar a listagem de turmas
            </a>
          {% endif %}
        </p>
      {% elif perms.accounts.is_teacher %}
        <h1 class="h1 mb-2 text-gray-800">Turma</h1>
        <p class="mb-4">{{ header }} {{ class.name }}.<br>
        <p class="mb-4">
          <a href="{% url 'accounts:list-teacher-courses' %}">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar a listagem de disciplinas
          </a>
        </p>
      {% endif %}
    {% endwith %}

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                {% if perms.accounts.is_teacher %}
                  <th>Primeira Nota</th>
                  <th>Segunda Nota</th>
                  <th>Teceira Nota</th>
                {% endif %}
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                    <td><span class="font-weight-bold" data-class-id="{{ class.id }}">{{ student.user.first_name }} {{ student.user.last_name }}</span></td>
                    {% if perms.accounts.is_admin or perms.accounts.has_no_institution %}
                      <td>
                        <a href="{% url 'accounts:update-student' pk=student.pk %}" class="btn btn-edit btn-warning btn-circle" title="Editar Estudante"
                          data-toggle="tooltip" data-placement="right" title="Editar Estudante">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'accounts:delete-student' pk=student.user.id %}" class="btn btn-danger btn-circle" title="Excluir Estudante"
                          data-toggle="tooltip" data-placement="right" title="Excluir Estudante">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    {% endif %}

                    {% if perms.accounts.is_teacher and not perms.accounts.has_no_institution %}

                      {% with student|get_scores:course as scores %}
                        <td>
                          {{ scores.first_score|default_if_none:"---" }}
                        </td>
                        <td>
                          {{ scores.second_score|default_if_none:"---" }}
                        </td>
                        <td>
                          {{ scores.third_score|default_if_none:"---" }}
                        </td>
                      {% endwith %}

                      <td>
                        <a
                          class="btn btn-success btn-circle"
                          data-toggle="tooltip" data-placement="right" title="Editar notas do estudante">
                          <i class="fas fa-edit"></i>
                        </a>
                      </td>
                    {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="{% static 'theme/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'theme/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/list.js' %}"></script>
{% endblock extra_scripts %}