{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %} Turmas {% endblock title %}
{% block extra_styles %}
    <link href="{% static 'styles/list.css' %}" rel="stylesheet">
{% endblock extra_styles %}


{% block content %}
    <h1 class="h1 mb-2 text-gray-800">Turmas</h1>
    <p class="mb-4">Lista de turmas vinculados a curso {{ program.name }}<br>
      <a href="{% url 'accounts:create-class' program=program.id %}">
        <i class="fas fa-plus-circle"></i>
        Clique aqui para adicionar
      </a><br>
      <a href="{% url 'accounts:list-program' %}">
          <i class="fas fa-arrow-circle-left"></i>
          Voltar a listagem de cursos
        </a>
    </p>

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for class in classes %}
                <tr>
                    <td><span class="font-weight-bold" data-class-id="{{ class.id }}">{{ class.name }}</span></td>
                    <td>
                      <a href="{% url 'accounts:list-student' class=class.id %}"
                        class="btn btn-info btn-icon-split" data-toggle="tooltip" data-placement="right">
                        <span class="icon text-white-50">
                          <i class="fas fa-user-graduate"></i>
                        </span>
                        <span class="text">Estudantes</span>
                      </a>
                      <a href="#"
                        class="btn btn-primary btn-icon-split" data-toggle="tooltip" data-placement="right">
                        <span class="icon text-white-50">
                          <i class="fas fa-book"></i>
                        </span>
                        <span class="text">Disciplinas</span>
                      </a>
                      <a href="{% url 'accounts:update-class' pk=class.id %}" class="btn btn-edit btn-warning btn-circle" title="Editar Turma"
                        data-toggle="tooltip" data-placement="right" title="Editar Turma">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a href="{% url 'accounts:delete-class' pk=class.id %}" class="btn btn-danger btn-circle" title="Excluir Turma"
                        data-toggle="tooltip" data-placement="right" title="Excluir Turma">
                        <i class="fas fa-trash"></i>
                      </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="{% static 'theme/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'theme/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/list.js' %}"></script>
{% endblock extra_scripts %}