{% extends 'dashboard_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} {{ template_title }} {% endblock title %}

{% block extra_styles %}
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
{% endblock extra_styles %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">{{ template_title }}</h1>
<p class="mb-4">Disciplina diz respeito ao conjunto de conhecimentos específicos relacionados entre si que podem ser ensinados ou aprendidos.</p>
<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4 border-left-primary">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                {% include 'form_field.html' with field=form.name label=form.name.label %}
                </div>
                <div class="form-group">
                    <label for="{{ form.teacher.auto_id }}">{{ form.teacher.label }}:</label><br>
                    {% if form.teacher.errors %}
                        {% render_field form.teacher class="selectpicker form-control is-invalid" data-live-search="true" %}
                        {{ form.teacher.errors|striptags }}
                    {% else %}
                        {% render_field form.teacher class="selectpicker form-control" data-live-search="true" %}
                    {% endif %}
                </div>
                <div class="form-group">
                        {% include 'form_field.html' with field=form.description label=form.description.label %}
                    </div>
                <div class="col-xl-2 float-right">
                    <button class="btn btn-primary btn-user btn-block" type="submit">Salvar</button>
                </div>
                <div class="col-xl-2 float-right">
                    <a class="btn btn-secondary btn-user btn-block"
                    href="{% url 'accounts:list-class' program=class.program.id %}">
                        Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script>
        $(function () {
            $('select').selectpicker();
        });
    </script>
{% endblock extra_scripts %}