{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %} Programs {% endblock title %}
{% block extra_styles %}
    <link href="{% static 'styles/list.css' %}" rel="stylesheet">
{% endblock extra_styles %}


{% block content %}
    <h1 class="h1 mb-2 text-gray-800">Cursos</h1>
    <p class="mb-4">Lista de cursos disponíveis cadastradas na instituição {{ request.user.admin.institution }}<br>
      <a href="{% url 'accounts:create-program' %}">
        Clique aqui para adicionar
        <i class="fas fa-plus-circle"></i>
      </a>
    </p>

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for program in programs %}
                <tr>
                    <td>
                      <span class="font-weight-bold" data-program-id="{{ program.id }}">
                        {{ program.name }}
                      </span>
                    </td>
                    <td>
                      <a href="{% url 'accounts:list-class' program=program.id %}" title="Turmas"
                        class="btn btn-info btn-icon-split" data-toggle="tooltip" data-placement="right">
                        <span class="icon text-white-50">
                            <i class="fas fa-chalkboard"></i>
                        </span>
                        <span class="text">Turmas</span>
                      </a>
                      <a href="{% url 'accounts:update-program' pk=program.id %}"
                        class="btn btn-edit btn-warning btn-circle" data-toggle="tooltip"
                        data-placement="right" title="Editar Curso">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a href="#" class="btn btn-danger btn-circle" data-toggle="tooltip"
                        data-placement="right" title="Excluir Curso">
                        <i class="fas fa-trash"></i>
                      </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="{% static 'theme/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'theme/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/list.js' %}"></script>
{% endblock extra_scripts %}