{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}
  Perfil
{% endblock %}

{% block content %}

<div>
    <img class="profile-foto" src="{% static 'media/profile.png' %}">
    <p>
        <h5>
            <i class="fas fa-edit"></i>
            <a href="{% url 'accounts:update_profile' %}">Editar Perfil</a>
        </h5>
    </p>
    {% if profile.user.registration_number %}
        <p class="mb-4"><strong>Username / Numero de Matricula:</strong> {{ profile.user.registration_number }}</p>
    {% endif %}

    {% if profile.user.first_name  %}
        <p class="mb-4"><strong>Nome:</strong> {{ profile.user.first_name  }}</p>
    {% endif %}

    {% if profile.user.last_name %}
        <p class="mb-4"><strong>Sobrenome:</strong> {{ profile.user.last_name }}</p>
    {% endif %}

    {% if profile.cpf %}
        <p class="mb-4"><strong>CPF:</strong> {{ profile.cpf|upper }}</p>
    {% endif %}

    {% if profile.description %}
        <p class="mb-4"><strong>Biografia:</strong> {{ profile.description }}</p>
    {% endif %}

    <hr>

    {% with user.addresses.all as addresses %}
        {% if addresses %}
            <h4> Endereços </h5>
            <p>
                <h5>
                    <i class="fas fa-plus-circle"></i>
                    <a href="{% url 'accounts:create_address' %}">Adicionar um novo Endereço</a>
                </h5>
            </p>

            <div class="row justify-content-left">
                {% for address in addresses %}
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-warning home-cards shadow h-200 py-3">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold mb-1">
                                        <p>Street: {{ address.street }}</p>
                                        <p>Number: {{ address.number|default_if_none:"S/N" }}</p>
                                        <p>Neighborhood: {{ address.neighborhood }}</p>
                                        {% if address.complement %}
                                            <p>Complement: {{ address.complement }}</p>
                                        {% endif %}
                                        <p>City: {{ address.city }}</p>
                                        <p>State: {{ address.state }}</p>
                                        <p>Postal Code: {{ address.postal_code }}</p>
                                        <p>
                                          <a href="{% url 'accounts:update_address' pk=address.id %}">
                                            <i class="fas fa-edit edit"></i>
                                            Editar
                                          </a>
                                        </p>
                                        <p>
                                          <a href="{% url 'accounts:delete-address' pk=address.id %}">
                                              <i class="fas fa-trash trash"></i>
                                              Excluir
                                          </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>
                <h5>
                    <i class="fas fa-plus-circle"></i>
                    <a href="{% url 'accounts:create_address' %}">Adicionar Endereço</a>
                </h5>
            </p>
        {% endif %}
    {% endwith %}
</div>

{% endblock content %}