{% extends "base_offline.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styles %}
  <link href="{% static 'styles/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Junte-se a nós!</h1>
            </div>
            <form action="" method="POST">
              {% csrf_token %}
              <div class="text-center form-header">
                <h4>Informações da Instituição</h4>
              </div>
              <div class="form-group">
                {% if institution_form.name.errors %}
                  {% render_field institution_form.name class="form-control form-control-user is-invalid" placeholder=institution_form.name.label %}
                  {{ institution_form.name.errors|striptags }}
                {% else %}
                  {% render_field institution_form.name class="form-control form-control-user" placeholder=institution_form.name.label %}
                {% endif %}
              </div>
              <div class="form-group">
                {% if institution_form.description.errors %}
                  {% render_field institution_form.description class="form-control is-invalid" placeholder=institution_form.description.label %}
                  {{ institution_form.description.errors|striptags }}
                {% else %}
                  {% render_field institution_form.description class="form-control" placeholder=institution_form.description.label %}
                {% endif %}
              </div>
              <div class="text-center form-header">
                <h4>Informações do Usuário</h4>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  {% if user_form.registration_number.errors %}
                    {% render_field user_form.registration_number class="form-control form-control-user is-invalid" placeholder=user_form.registration_number.label %}
                    {{ user_form.registration_number.errors|striptags }}
                  {% else %}
                    {% render_field user_form.registration_number class="form-control form-control-user" placeholder=user_form.registration_number.label %}
                  {% endif %}
                </div>
                <div class="col-sm-6">
                  {% if user_form.email.errors %}
                    {% render_field user_form.email class="form-control form-control-user is-invalid" placeholder=user_form.email.label %}
                    {{ user_form.email.errors|striptags }}
                  {% else %}
                    {% render_field user_form.email class="form-control form-control-user" placeholder=user_form.email.label %}
                  {% endif %}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  {% if user_form.first_name.errors %}
                    {% render_field user_form.first_name class="form-control form-control-user is-invalid" placeholder=user_form.first_name.label %}
                    {{ user_form.first_name.errors|striptags }}
                  {% else %}
                    {% render_field user_form.first_name class="form-control form-control-user" placeholder=user_form.first_name.label %}
                  {% endif %}
                </div>
                <div class="col-sm-6">
                  {% if user_form.last_name.errors %}
                    {% render_field user_form.last_name class="form-control form-control-user is-invalid" placeholder=user_form.last_name.label %}
                    {{ user_form.last_name.errors|striptags }}
                  {% else %}
                    {% render_field user_form.last_name class="form-control form-control-user" placeholder=user_form.last_name.label %}
                  {% endif %}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  {% if user_form.password1.errors %}
                    {% render_field user_form.password1 class="form-control form-control-user is-invalid" placeholder=user_form.password1.label %}
                    {{ user_form.password1.errors|striptags }}
                  {% else %}
                    {% render_field user_form.password1 class="form-control form-control-user" placeholder=user_form.password1.label %}
                  {% endif %}
                </div>
                <div class="col-sm-6">
                  {% if user_form.password2.errors %}
                    {% render_field user_form.password2 class="form-control form-control-user is-invalid" placeholder=user_form.password2.label %}
                    {{ user_form.password2.errors|striptags }}
                  {% else %}
                    {% render_field user_form.password2 class="form-control form-control-user" placeholder=user_form.password2.label %}
                  {% endif %}
                </div>
              </div>
              <button class="btn btn-primary btn-user btn-block" type="submit">
                Criar
              </button>
              <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a> -->
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="{% url 'core:home' %}">Voltar a Pagina Inicial.</a>
            </div>
            <!-- <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
