{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Class Path Dashboard | {% block title %}  {% endblock title %}</title>

  <link href="{% static 'theme/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link href="{% static 'theme/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'styles/main.css' %}" rel="stylesheet">
  {% block extra_styles %}
  {% endblock extra_styles %}

</head>

<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'core:dashboard' %}">
        <div class="sidebar-brand-icon home-page-brand">
            <img src="{% static 'media/icon.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Class Path</div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:list-program' %}">
            <i class="fas fa-fw fa-graduation-cap"></i>
          <span>Cursos</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:list-teacher' %}">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Professores</span></a>
        </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">

              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.email }}</span>
                <i class="img-profile fas fa-user-circle fa-2x"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>

      </div>
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>© <a href="https://github.com/werberth">Betim</a> – Built with Django 2 and Bootstrap 4</span>
          </div>
        </div>
      </footer>
    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'theme/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'theme/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'theme/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script src="{% static 'theme/js/sb-admin-2.min.js' %}"></script>
  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>

</html>
