{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title%}

{% block extra_css %}
  <link href="{% static 'styles/home.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
  <header class="home-page-header mb-auto">
    <div class="inner">
      <h4 class="home-page-brand">
        <img src="{% static 'media/icon.png' %}">
        <span>Class Path</span>
      </h3>
      <nav class="nav home-page-nav justify-content-center">
        <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h2 class="cover-heading">Registre-se</h2>
    <p>Com o Class Path é muito fácil gerenciar uma instituição de ensino, suas turmas, disciplinas e criar conteúdos sensíveis ao contexto.</p>
    <p>
      <a href="{% url 'accounts:sign-up' %}" class="btn btn-lg btn-secondary">Criar Instituição</a>
    </p>
  </main>
{% endblock content %}