{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Class Path</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'styles/home.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="home-page-header mb-auto">
        <div class="inner">
          <h4 class="home-page-brand">
            <img src="{% static 'media/icon.png' %}">
            <span>Class Path</span>
          </h3>
          <nav class="nav home-page-nav justify-content-center">
            <a class="nav-link active" href="#">Login</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h2 class="cover-heading">Registre-se</h2>
        <p>Com o Class Path é muito fácil gerenciar uma instituição de ensino, suas turmas, disciplinas e criar conteúdos sensíveis ao contexto.</p>
        <p>
          <a href="#" class="btn btn-lg btn-secondary">Criar Instituição</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
            © <a href="https://github.com/werberth">Betim</a> – Built with Django 2 and Bootstrap 4
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
