{% extends "base_offline.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <main role="main" class="inner cover">
    <h2 class="cover-heading">Registre-se</h2>
    <p>Com o Class Path é muito fácil gerenciar uma instituição de ensino, suas turmas, disciplinas e criar conteúdos sensíveis ao contexto.</p>
    <p>
      <a href="#" class="btn btn-lg btn-secondary">Criar Instituição</a>
    </p>
  </main>
{% endblock content %}
